:root {
  --header: #f348ed;
  --progress: #c000ba;
  --chat: #eff3f5;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited  {
  background-color: var(--progress);
  border-color: var(--progress);
}
.btn-primary:hover{
  background-color: var(--header);
  border-color: var(--progress);
}

.badge-light {
  background-color: var(--header);
}

.bg-header {
  background-color: var(--header);
}

.bg-chat-forms {
  background-color: var(--chat);
}

.bg-chat-message {
  background-color: var(--header);
}

.bg-chat-width {
  width: 90%;
}

.progress-bar {
  background-color: var(--progress);
}

.img-size {
  width: 50px;
  height: auto;
}

.img-watch {
  width: 20px;
  height: auto;
  padding-bottom: 10px;
}

.img-chat {
  width: 80px;
  height: 80PX;
  border-radius: 50%;
}

.font-title {
  font-size:larger;
  font-weight: bold;
}

