:root {
  --header: #f348ed;
  --progress: #c000ba;
}

.badge-light {
  background-color: var(--header);
}

.bg-header {
  background-color: var(--header);
}

.progress-bar {
  background-color: var(--progress);
}

.img-size {
  width: 50px;
  height: auto;
}

.img-watch {
  width: 20px;
  height: auto;
  padding-bottom: 10px;
}

.font-title {
  font-size:larger;
  font-weight: bold;
}